services:
  query:
    build: .
    image: nanopub/query
    restart: unless-stopped
    ports:
      - 9300:9300
      - 9393:9393
    volumes:
      # For the local nanopub loader (optional).
      # If not used, Query will load the nanopubs from the Registry with Jelly.
      - ./load:/app/load
    environment:
      - ENDPOINT_TYPE=rdf4j
      - ENDPOINT_BASE=http://rdf4j:8080/rdf4j-server/
      - REGISTRY_FIXED_URL=https://registry.knowledgepixels.com/
#     - INIT_WAIT_SECONDS=120   # Only used by the local nanopub loader
#     - NANOPUB_QUERY_URL=https://query.knowledgepixels.com/
    logging:
      options:
        max-size: "10m"
        max-file: "3"

  rdf4j:
    image: ostrzyciel/rdf4j-workbench-tomcat:5.1.3-SNAPSHOT
#   image: eclipse/rdf4j-workbench:5.0.3
    restart: unless-stopped
    environment:
      - JAVA_OPTS=-Dorg.eclipse.rdf4j.client.http.connectionTimeout=10000 -Dorg.eclipse.rdf4j.client.http.connectionRequestTimeout=10000 -Dorg.eclipse.rdf4j.client.http.socketTimeout=10000
    volumes:
      - ./data/rdf4j/data:/var/rdf4j
      - ./data/rdf4j/logs:/usr/local/tomcat/logs
      - ./data/info:/var/info
      - ./entrypoint:/var/entrypoint
    ports:
      - 8081:8080
    entrypoint: /var/entrypoint/init.sh
    healthcheck:
      test: >
        curl -f --retry 2 --max-time 10 --retry-delay 2 --retry-max-time 10 --retry-connrefused \
          "http://localhost:8080/rdf4j-server/repositories/full?query=select%2Awhere%7B%3Fs%3Cx%3A%3E%3Fo%7Dlimit1" \
        || (
          date >> /var/info/restart
          pkill -15 java
          sleep 10
          pkill -9 java
        )
      interval: 60s
      timeout: 60s
      start_period: 300s

  grlc:
    image: clariah/grlc:v1.3.9  # causes error locally ("failed to register layer: failed to Lchown ..."), but seems to work on the servers
#    image: clariah/grlc:v1.3.8  # works locally but leads to problems on the servers
    restart: unless-stopped
#   ports:
#     - 8088:80
    logging:
      options:
        max-size: "10m"
        max-file: "3"
