services:
  query:
    environment:
      - NANOPUB_QUERY_URL=https://query.knowledgepixels.com/
      - GRLC_URL=https://grlc.knowledgepixels.com/
# grlc:
#   environment:
#     - GRLC_SERVER_NAME=grlc.your.domain.com
  server:
    deploy:
      replicas: 0
  servernudger:
    deploy:
      replicas: 0
  mongodb:
    deploy:
      replicas: 0
